<nav class="navbar navbar-dark bg-dark bg-light">
  <div class="form-inline col-12">
    <span
      class="btn btn-outline-success col-4"
      type="button"
      (click)="countClick()"
      >Donate 10 €</span
    >
    <span class="col-4 text-center"
      ><ng-template [ngIf]="clickCounter >= 200">
        <span class="text-white">You are a Vip now</span>
      </ng-template>
    </span>
    <span class="text-white col-4 text-center">
      You donated {{ clickCounter }} € so far
    </span>
  </div>
</nav>
